/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end css reset*/

/*begin header styles*/

body {
		background-image: url("../images/Blog-bkgd.jpg");
	  background-position:center center;
	  background-attachment:fixed;

/**/
}

a {
	font-family: sans-serif;
	font-style: bold;
	color: white;
  display: inline-block;
  text-decoration: none;

}

header {
	height: 200px;
}

h1 {
	font-size: 50px;
	padding: 50px;
	font-family: 'Bungee Inline', cursive;
	color: white;
}

h1 a {
	font-family: 'Bungee Inline', cursive;
	color: white;
}

header byline {
	color: white;
	font-variant: small-caps;
	font-family: sans-serif;
	font-size: 15px;
	padding-left: 50px;
}

/*End header styles*/

/*Begin body styles*/

.index {
	height: 60px;
}

nav {
	width: 1024px;
	display: table;
	margin: auto;
  background-color: lightpink;
}

ul li {
	display: table-cell;
	width: 300px;
	text-align: center;
	padding: 15px;
}

.wrapper {
  width: 1024px;
  margin:auto;
}



.button {

	display: inline-block;
	position: relative;
	padding: 40px;
  width: 250px;
  height: 250px;
}

.button a {
	width: 250px;
	height: 250px;
}

img {
    width: 250px;
    height: 250px;
}

ul li {
	display: inline-block;
}

.button p {
	position: absolute;
  top: 40px;
  left: 40px;
  margin: 0px;
  width: 220px;
  height: 200px;
	padding: 15px;
	padding-top: 40px;
  text-align: center;
	font-family: Tahoma;
	line-height: normal;
  font-size: 18px;
	color: transparent;
}

a:hover #about {
  background-color: rgba(255, 180, 180, .8);
  color: white;
}

a:hover #coffee {
  background-color: rgba(255, 180, 180, .8);
  color: white;
}

a:hover #website {
  background-color: rgba(255, 180, 180, .8);
  color: white;
}

a:hover #portal {
  background-color: rgba(255, 180, 180, .8);
  color: white;
}

a:hover #article {
	background-color: rgba(255, 180, 180, .8);
  color: white;
}

h2 {
	font-size: 28px;
	color: white;
	text-align: center;
	font-family: sans-serif;
}



footer {
	clear: both;
	width: 954px;
	margin: 20px auto 0 auto;
	padding: 35px;
	background-color: rgba(255, 180, 180, .8);
}
