/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end css reset*/

/*start body styles*/

body {
	background-color: grey;
}

/*start header styles*/
header {
	height: 500px;
}

#largearrow {
	position: absolute;
	top: 175px;
}

#largearrow2 {
		position: absolute;
		top: 175px;
		left: -100px;
	}

#name {
	width: 400px;
	height: 50px;
}

h1 {
	font-size: 50px;
	font-family: courier;
	color: white;
}

/*start nav styles*/

#homenav {
	width: 300px;
}

#homenav a {
	text-decoration: none;
	color: white;
	font-family: courier;
	font-size: 24px;
	font-weight: bold;
}

a .arrow {
	opacity: 0;
	display: inline-block;
}

#homenav a:hover +.arrow {
	opacity: 100%;
	position: relative;
	right: 5px;
}

.smallnav {
	width: 200px;
}

.smallnav li {
	line-height: 25px;
}
.smallnav a {
	text-decoration: none;
	color: white;
	font-family: courier;
	font-size: 18px;
	font-weight: bold;
}
/*start paragraph styles*/

p {
	color: white;
	font-family: courier;
	font-size: 14px;
	line-height: 15px;
	position: relative;
	padding: 10px;
}

.blurb {
	position: absolute;
	width: 400px;
	top: 400px;
	left:100px;
}

/*start footer styles*/

figure {
	position: absolute;
	bottom: -50px;
}

figure a {
	text-decoration: none;
	color: white;
	font-family: courier;
	font-size: 20px;
	font-weight: bold;
}

footer {
	position: relative;
	top: 500px;
	padding-top: 50px;
	width: 100%;
	height: 100px;
}

footer a {
	text-decoration: none;
	color: white;
	font-family: courier;
	font-size: 20px;
	font-weight: bold;
}

footer li {
	float: right;
	padding-right: 100px;
	color: white;
	font-family: courier;
	font-size: 15px;
	font-weight: bold;
}

footer a:hover {
	text-decoration: underline;
}

/*How the webpage should look on a desktop*/

@media (max-width: 1499px) {

	.wrapper {
		width: 1200px;
		margin: 0;
	}

  #homebody {
    background-image: url("../images/beach.jpg");
    background-size: 1500px;
		background-repeat: no-repeat;
  }

	#interbody {
		background-color: grey;
	}

 	#homehead {
    position: absolute;
    width: auto;
    top: 170px;
    left: 900px;
  }

	#interhead {
		position: absolute;
		width: auto;
		top: 250px;
		left: 100px;
	}

	#homenav {
		position: absolute;
		top: 220px;
		left: 910px;
	}

	#smallnavweb {
		position: absolute;
		top: 163px;
		left: 1010px;
	}

	#smallnavmaiz {
		position: absolute;
		top: 138px;
		left: 1010px;
	}

		#smallnavgroup {
			position: absolute;
			top: 110px;
			left: 1010px;
		}

		#smallnavflow {
			position: absolute;
			top: 85px;
			left: 1010px;
		}

	#smallnavart {
		position: absolute;
		top: 60px;
		left: 1010px;
	}

	#smallnavtyp {
		position: absolute;
		top: 32px;
		left: 1010px;
	}

}

/*How the webpage should look on a tablet*/

@media (max-width: 799px) {

	.wrapper {
		width: 800px;
		margin: 0 auto;
	}

  #homebody {
    background-image: url("../images/beach-tablet.jpg");
    background-size: 770px 1024px;
  }

	#interbody {
		background-color: grey;
	}

	#largearrow {
		left: -550px;
	}

  #homehead {
    font-size: 50px;
    font-family: courier;
    position: absolute;
    top: 170px;
    left: 350px;
  }

	#homenav {
		position: absolute;
		top: 220px;
		left: 370px;
	}

	#homenav li {
		line-height: 25px;
	}

	.blurb {
		left: 50px;
		width: 360px;
	}

	footer li {
		padding: 50px;
	}

	#smallnav {
		position: absolute;
		top: 220px;
		left: 910px;
	}

}

/*How the webpage should look on a mobile phone*/

@media (max-width: 415px) {

	.wrapper {
		width: 415px;
		margin: 0 auto;
	}

  #homebody {
    background-image: url("../images/beach-mobile.jpg");
    background-size: 415px;
  }

	#interbody {
		background-color: grey;
	}

	#largearrow {
		top: 125px;
		left: -820px;
	}

  #homehead {
    font-size: 60px;
    font-family: courier;
    position: absolute;
    top: 120px;
    left: 90px;
  }

	#homenav {
		position: absolute;
		top: 280px;
		left: 100px;
	}

	#homenav li {
		line-height: 50px;
	}

	.blurb {
		left: 20px;
		top: 800px;
		width: 360px;
	}

	footer {
		padding-top: 200px;
	}
	footer li {
		float:none;
		text-align: center;
		padding: 30px;
	}

	#smallnav {
		position: absolute;
		top: 220px;
		left: 910px;
	}
}
